body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #2d2f36;
  padding: 10px 20px;
  color: white;
}

.navbar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  gap: 10px;
}

button {
  background: #2d2f36;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  background: #ffff;
  border-bottom: 1px solid #ddd;
}

#main h1{
  margin-right: 40%;
  font-size: 26px;
  color: #222;
  font-weight: 700;
  align-items: baseline;

}
#main ul{
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
#main ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #444;
  font-weight: 500;
}